@media (max-width: 768px){

    .menu{
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .container,
    .about,
    .contact{
        width: 95%;
    }

    .container .row2{
        flex-direction: column;
        align-items: center;
    }

    .about{
        flex-direction: column;
    }

    .about .image,
    .about .biograph{
        width: 100%;
    }

    .contact{
        flex-direction: column;
    }

    .contact .audio,
    .contact .form{
        width: 100%;
        border-right: none;
    }

    footer{
        flex-direction: column;
        align-items: center;
    }

    footer div{
        width: 100%;
    }
}
